html, body {
	height: 100%;
	width: 100%;

	overflow: hidden;
}

#background {
	-webkit-transition: background 0.25s;
}

canvas {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

.overlay {
	position: absolute;
	display: none;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;

	opacity: 0;

	pointer-events: none;
}

.overlay.visible {
	display: block;
	opacity: 1;
}

.interactive {
	pointer-events: auto;
}

h1 {
	text-align: center;
	color: white;
}

.hero {
	justify-content: center;
	padding: 300px;
	display: flex;
}

button {
	padding: 30px 100px;

	background-color: white;

	font-family: inherit;
	font-size: 1.3rem;
	color: black;

	outline: none;
	border: none;
}

button:hover {
	animation: rainbow 0.5s infinite;

	color: white;
}

@-webkit-keyframes rainbow {
	0% {background-color: #ff0000;}
	10% {background-color: #ff8000;}
	20% {background-color: #ffff00;}
	30% {background-color: #80ff00;}
	40% {background-color: #00ff00;}
	50% {background-color: #00ff80;}
	60% {background-color: #00ffff;}
	70% {background-color: #0080ff;}
	80% {background-color: #0000ff;}
	90% {background-color: #8000ff;}
	100% {background-color: #ff0080;}
}
